name: "Test"

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
        types : [opened]

jobs:
    test:
        runs-on: ubuntu-latest
        container: astral/uv:python3.12 